.statistics {
  width: 300px;
  background-color: aquamarine;
  border-radius: 1px;
  overflow: hidden;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.title {
  margin-top: 10px;
  text-align: center;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 100%;
  margin-bottom: 10px;
}

.list {
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
.item {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  height: 30%;
  background-color: aquamarine;
}

.item:not(:last-child) {
  border-right: 1px solid rgb(40, 156, 131);
}

.list + .item {
  margin-left: 5%;
}
